@model NDKSkateShopMVC.Models.SanPham

@{
    ViewBag.Title = "Suasp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="text-align: center; padding-top: 23px; font-weight: bold;">ĐIỀU CHỈNH THÔNG TIN SẢN PHẨM</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.MaSP)

    <div class="form-group">
        @Html.LabelFor(model => model.MaSP, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div style="font:18px; padding: 5px 0 0 5px">@Model.MaSP</div>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TenSP, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.GiaBan, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.GiaBan, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.GiaBan, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NoiDung, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <textarea name="NoiDung">@Model.NoiDung</textarea>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.AnhDD, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            Chọn ảnh mới
            <input type="file" name="fileUpload" />
            <img src="@Url.Content(Model.AnhDD)" width="120px" /> (Ảnh hiện tại)
            @*thông báo trùng*@
            @ViewBag.Thongbao
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.SoLuongTon, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.SoLuongTon, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.SoLuongTon, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaParts, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaParts")
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MaBrand, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaBrand")
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Trở về", "SanPham")
</div>
